AUTH_ISSUER=https://YOUR_TEAM.cloudflareaccess.com
AUTH_AUDIENCE=YOUR_CLOUDFLARE_ACCESS_APPLICATION_AUD
AUTH_JWKS_URL=https://YOUR_TEAM.cloudflareaccess.com/cdn-cgi/access/certs
CREDENTIAL_KEY_VERSION=1
CREDENTIAL_ENCRYPTION_KEY=BASE64_ENCODED_AES_KEY
